body {
  font-family: 'Open Sans', sans-serif;
  background-color: #969696;
}

h1, h2 {
  color: white;
}

.panel {
  width: 600px;
}

#answer4 {
  display: none;
}

button {
  margin-top: 30px;
}

.refresh {
  display: none;
}

#suggestion {
  display: none;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #666768;
}
